
SONAR_HOST=http://sonarqube-talos-commander:9000
SONAR_DEFAULT_USER=admin
SONAR_DEFAULT_PASS=admin
SONAR_NEW_PASS=Talos-rit2026
SONAR_TOKEN_NAME=sonar_token
POSTGRES_USER=sonar
POSTGRES_PASSWORD=sonar
POSTGRES_DB=sonar
