name: PyInstaller Build

on:
  push:
    branches:
      - main
  # pull_request: # Uncomment this to test the action in your PR if you change this file

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, macos-15-intel]
    runs-on: ${{ matrix.os }}

    steps:
      # Step 1: Check out the repository.
      - name: Checkout Code
        uses: actions/checkout@v5

      # Setup uv
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      # Get all dependencies
      - name: Install dependencies
        run: |
          uv sync --all-extras --group dev

      # Step 4: Build with PyInstaller
      - name: Build Executable
        run: |
          uv run python pyinstaller_runner.py

      # Step 5: Archive the build artifacts
      - name: Archive Build
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-build
          path: dist/
